.text {
font-family: 'RocknRoll One', sans-serif;
 font-weight: 900
 ;
  font-size: 30px;
color: #4caf50;
}

/*1-task*/
.list-position { 
  display: flex;
  flex-direction: column;
  text-align: center;

  list-style: none;
  padding: 0;
} 
/*2-task*/



/* 3-task */
#gallery {
display: flex;

}
ul {
    display: flex;
margin: 0;
padding: 0;
  list-style: none;
}

.gallery__item {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 300px;
    height: 200px;
}

/* 4-tasks */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}